Header\nWidth\n10\nHeight\n3\nFrametime\n100\nAutoloop\ntrue\nColTimDat\n0;gray:white:5;3000.6;100.\nHeader End\n\n>\n\n\n >\n\n\n  >\n\n\n   >\n\n\n    >\n\n\n    >>\n\n\n      >\n\n\n       >\n\n\n        >\n\n\n         >\n\n
